* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.input_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.input_container input {
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
}