.href_main {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 12px;
    background-color: #a3c4ff;
    border-radius: 10px;
}

.href_main:hover {
    text-decoration: underline;
    color: red;
}