<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказы</title>
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}" crossorigin="anonymous">
</head>
<body>
    <form id="search_form" class="search_form" action="{% url 'LabStart:search' %}" method="GET">
        {% csrf_token %}
        <label for="input_search">Найти пользователя</label>
        <input id="input_search" class="input_search" name="q" type="text">
    </form>
    <h1>Список всех заказов:</h1>
    <table>
        <tr>
            <th>Номер заказа</th>
            <th>Дата заказа</th>
            <th>Статус</th>
            <th>Цена заказа, руб.</th>
            <th>Пользователь</th>
        </tr>
        {% for order in list_of_all_orders %}
        <tr>
            <td>
                <a class="href_to_order" href="{% url 'LabStart:order_detail' order.order_id %}">
                    {{ order.order_id }}
                </a>
                <td>{{ order.order_date }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.user }}</td>
            </td>
        </tr>
    {% endfor %}
    </table>
    <nav class="hrefs">
        <a href="/" class="href_orders href_main">Перейти на главную</a>
        <a href="/users" class="href_users href_main">Перейти к пользователям</a>
    </nav>
    <a href="{% url 'admin:index' %}" class="href_admin href_main">Админка</a>
</body>
</html>