<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" crossorigin="anonymous">
</head>
<body>
    <h1>Регистрация нового пользователя</h1>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">Имя:</label>
            {{ form.username }}
        <label for="{{ form.password1.id_for_label }}">Пароль:</label>
            {{ form.password1 }}
        <label for="{{ form.password2.id_for_label }}">Подтвердите пароль:</label>
            {{ form.password2 }}
        <button type="submit">Зарегистрироваться</button>
    </form>
    <section>
        <span>Есть аккаунт?
            <a class="href_to_signup" href="{% url 'login' %}">
                Войти
            </a>
        </span>
    </section>
</body>
</html>