<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи</title>
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}" crossorigin="anonymous">
</head>
<body>
    <h1>Список всех пользователей:</h1>
    <table>
        <tr>
            <th>Номер пользователя</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Почта</th>
            <th>Номер телефона</th>
            <th>Дата регистрации</th>
        </tr>
        {% for user in list_of_all_users %}
        <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.registration_date }}</td>
        </tr>
    {% endfor %}
    </table>
    <nav class="hrefs">
        <a href="/" class="href_orders href_main">Перейти на главную</a>
        <a href="/orders" class="href_users href_main">Перейти к заказам</a>
    </nav>
    <a href="{% url 'admin:index' %}" class="href_admin href_main">Админка</a>
    <a href="{% url 'signup' %}" class="href_signup href_main">Регистрация</a>
    <a href="{% url 'login' %}" class="href_login href_main">Вход</a>
</body>
</html>